#TITULO{
    background-color: #f00;
}
/* O BACKGROUNG-COLOR É A COR DE FUNDO DA IMAGEM, PODENDO SER APLICADO EM DIVERSOS LOCAIS DO CODIGO.*/

/*
*CORES PODEM SEM DEFINIDAS POR DIVERSOS PADRÕES, COMO NOS EXEMPLOS ACIMA.
RGB = R G B
R = RED
G = GREEN
B= BLUE

*A MISTURA DESSAS CORES FORMAM TODAS AS CORES.

*TAMBÉM POOSO CONFIGURAÇÃO NA FORMA HEXADECIMAL
*O HEXADECIMAL NADA MAIS É QUE CODIGOS QUE REPRESENTAM O RGB, UTILIZANDO NUMEROS E LETRAS,
SÃO: 0,1,2,3,4,5,6,7,8,9.A,B,C,D,E,F, NESTE CONJUNTOS SÃO FORMADOS DIVERSAS CORES.
EXEMPLO FF0000 = VERMELHO
        00FF00 = VERDE
        0000FF - AZUL
*/
p {
    border: 5px dashed #0000ff;

}

/* Existem também diversos tipos de bordas no códigos, sendo mais utilizados solid e dotted(pontinhado)
 - SOLID = solida
 - DOTTED = pontinhado
 - DASHED = tracinhado
 - DOUBLE = linhas dupla
 - INSET = baixo relevo
 - OUTSET = alto relevo
 - GROOVE = solida mais grossa

 *POSSO APLICAR A BORDA TAMBÉM EM PARTES INDIVIDUAIS, COMO NA PARTE INFERIOR.
  EXEMPLO: border-bottom (aplicada na parte inferior)
  border-botton: 5px solid red;
  -botton = baixo
  -top = cima
  -left = esquerdo
  -right = direita

 * POSSO TAMBÉM APLICAR BORDAS ARREDONDADAS.
    EXEMPLO: border-radius: 5px;

    
*/

div {
    background-color: #00ff00;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    border: dotted 5px #045e23;
}

img {
    border: solid 7px #000000;
    border-radius: 4px;
}

a {
    border: 3px rgb(0, 163, 160);
}