body {
    margin: 0px;
}

.exemplo {
    background-color: black;
    width: 100%;
    height: 100px;
}

/* Existem varias maneiras de definir o tamanho dos elementos no css,
- px = pixel
- % = porcentagem
- auto = automatico ( se expande até onde for disponível.
*/

img {
    width: auto; /* largura*/
    max-width: 450px; /*Limitador max de definição ou min-width: é o minimo de definição*/
}